bin/
.*.cfg
develop-eggs/
eggs/
downloads/
.installed.cfg
src/packages
parts/
.project
*.pyc
.pydevproject
*.pyo
.settings
src/*.egg-info
.tmp*
var/
old-eggs/
.DS_Store
*#*
.mr.developer.cfg
devsrc/
docs/Makefile
docs/make.bat
dist/
include/
lib/
coverage/
local/
